.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(51, 134, 175);
}

.form-input {
  display: inline;
}

.search-prompt {
  padding: 10px;
}

.search-form{
  padding: 10px;
}

.header {
  background-color: #2797CE;
  color: white;
  border: 1px solid grey;
  padding: 20px;
  height: 10vh;
}

.searchbar-container {
  background-color: rgb(102, 192, 236);
  color: white;
}


.main {
  background-color: rgb(51, 134, 175);
  color: white;
}

.language-list {
  background-color: rgb(51, 134, 175);
  color: white;
  border: 1px solid grey;
}

.language-list-item{
  background-color: rgb(51, 134, 175);
  font-size: calc(14px);
}
